h1{
    color: rgb(255, 255, 255);
    background-color: rgb(72, 19, 19);
    padding: 30px
}
nav{
    color: rgb(255, 255, 255);
    background-color: rgb(229, 80, 80);
    padding: 50px;
}
